.about{
    width: 90%;
    margin: 0 auto;
}
.about_wrapper{
    display: flex;
}
.about h2{
    line-height: 50px;
}
.about_wrapper .img_con{
    margin-top: -20px;
    background-color: #333;
    height: 340px;
    width: 2000px;
}
.about_wrapper .txt p{
    margin: 20px 0;
    width: 70%;
}
.team_con{
    padding: 30px;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}
.our_team{
    background-color: var(--about-bg);
}
.our_team h2{
    text-align: center;
}
.our_team .img_con{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--about-bg);
}
.team_con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}
.each_person{
    background-color: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
    min-width: 230px;
    cursor: pointer;
    position: relative;
}
.person_info{
    width: 70%;
    min-width: 150px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.person_info span{
    font-size: 14px;
}

/* tooltip */
.each_person::after,
.each_person::before
{
    /* make scale 0 will disppear */
    --scale:0;
    position: absolute;
    top: -30px;
    transform: translateY(-20%) scale(var(--scale));
    transition: 150ms transform;
    left: 0;
    /* pop up from bottom to top */
    transform-origin: bottom center;
}
.each_person::before{
    /* the data toolpit on our html */
    content: attr(data-tooltip);
    color: #fff;
    padding: .5rem;
    /* make with 100% depend to its content */
    width: max-content;
    text-align: center;
    max-width: 100%;
    background-color: #333;
    border: 1px solid white;
}
.each_person:hover::before,
.each_person:hover::after{
    /* pop up scale:1 make the toolpit back */
    --scale:1;
}
.each_person:hover::after {
    /* arrow */
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 10%; 
    transform: translateX(-50%); 
    width: 0; 
    height: 0; 
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333 transparent transparent transparent; 
}
@media only screen and (max-width:900px){
    .about_wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .about{
        width: 100%;
    }
    .about h2{
        text-align: center;
    }
    .about_wrapper .img_con{
        margin-top: -20px;
        background-color: #333;
        height: 440px;
        width: 100%;
    }
    .about_wrapper .txt p{
        margin: 20px 0;
        width: 100%;
        padding: 10px 20px;
    }
    .about_wrapper .txt {
        margin: 20px 0;
        width:100%;
        padding: 10px 20px;
    }
    .team_con{
        padding: 30px;
        width: 100%;
        max-width: 1220px;
        margin: 0 auto;
    }
}