.our_service{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.our_service h2,
.our_service p{
    margin:20px 0;
    width: 650px;
    text-align: justify;
}
.services_box{
   display: flex;
   margin-top: 30px;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
}
.service_header{
    padding-bottom: 15px;
}
.flex_box{
    background-color:var(--service-bg-box);
    width: 100%;
    padding: 15px 15px 50px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    text-align: justify;
    max-width: 320px;
}
@media only screen and (max-width:800px) {
    .our_service h2,
    .our_service p{
        width: 100%;
    }
}